body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#detail-window{
    width: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pokemon-detail{
    min-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
#pokemon-pic{
    width: 300px;
    height: 300px;
    margin-top: -250px;
}
#info-container{
    background-color: white;
    min-height: 100px;
    margin-top: -40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#headline{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
#pokemon-categories{
    display: flex;
    gap: 16px;
}
#poke-index{
    font-weight: 900;
    padding: 4px 0;
}
.pokemon-type{
    background: rgba(0, 0, 0, 0.17);
    width: 86px;
    text-align: center;
    padding: 4px 0;
    border-radius: 10px; 
}
.d-none{
    display: none;
}
.open-topic{
    color: black !important;
    border-bottom: 1px solid blue;
}
#info-topics{
    display: flex;
    padding: 40px 0;
    margin: -30px;
    justify-content: space-around;
    color: rgb(212,214,217);
}
.topic{
    padding-bottom: 10px;
}
.topic:hover{
    cursor: pointer;
}
#info-area{
    display: flex;
    justify-content: center;
    padding: 20px 40px ;
    width: 400px;
    height: 180px;
}
.progress-bar-outisde{
    width: 160px;
    background-color: #DAD3CB;
    height: 10px;
    border-radius: 10px;
}
.progress-bar-inside{
    height: 100%;
    background-color: #333333;
    border-radius: 10px;
}
#table-about{
    border-spacing: 50px 5px;
}
#table-base-stats{
    border-spacing: 25px 1px;
}
.pokemon{
    display: flex;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}
.pokemon-overview{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pokemon-overview-title{
    font-size: 24px;
    font-weight: 700;
}
.pokemon-overview-pic{
    height: 120px;
}
#pokedex{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}