body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#pokedex{
    min-height: 50vh;
    background: rgb(251,108,108);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
#pokemon-pic{
    width: 300px;
    height: 300px;
    margin-top: -200px;
}
#info-container{
    background-color: white;
    min-height: 100px;
    margin-top: -40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#headline{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
#pokemon-categories{
    display: flex;
    gap: 16px;
}
#poke-index{
    font-weight: 900;
    padding: 4px 0;
}
.pokemon-type{
    background: aqua;
    width: 86px;
    text-align: center;
    padding: 4px 0;
    border-radius: 10px; 
}
.d-none{
    display: none;
}
.open-topic{
    color: black !important;
    border-bottom: 1px solid blue;
}
#info-topics{
    display: flex;
    padding: 24px 0;
    margin: -30px;
    width: 100vb;
    justify-content: space-around;
    color: rgb(212,214,217);
}
.topic{
    padding-bottom: 10px;
}
.topic:hover{
    cursor: pointer;
}
#info-area{
    display: flex;
    justify-content: center;
    padding: 40px;
}